.arrow-button {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 28px; }

.arrow-button__first {
  width: 18px;
  height: 18px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 5px;
  margin: 0 auto;
  transform: rotate(-45deg);
  transition-duration: 0.2s; }

.arrow-button__second {
  width: 28px;
  height: 28px;
  border-left: 0px solid #fff;
  border-bottom: 0px solid #fff;
  border-radius: 5px;
  transform: rotate(-45deg);
  margin: 0 auto;
  transition-duration: 0.2s; }

.arrow-button:hover .arrow-button__second {
  border-left: 3px solid #ffcd78;
  border-bottom: 3px solid #ffcd78;
  transition-duration: 0.2s; }

.arrow-button:hover .arrow-button__first {
  border-left: 3px solid #ffcd78;
  border-bottom: 3px solid #ffcd78;
  transition-duration: 0.2s; }
