.nav-panel__items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  min-width: 518px; }

.nav-panel__item {
  color: #fff;
  border-bottom: 2px solid transparent;
  transition-duration: 1s; }

.nav-panel__item:first-child {
  list-style-type: none; }

.nav-panel__item-link {
  text-decoration: none;
  font-family: 'Ubuntu-Medium';
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }

.nav-panel__item:hover {
  border-bottom: 2px solid #fff;
  transition-duration: 1s; }
