.reviews {
  height: 100vh; }

.reviews__comment {
  display: none; }

.reviews__items-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  list-style-type: none;
  width: 25%;
  height: 50vh; }

.reviews__item-img {
  width: 100%;
  height: 100%; }
