.container {
    box-sizing: border-box;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    
    @include tablet() {
        max-width: 768px; 
    }
    
    @include phone() {
        max-width: 480px; 
    }
}
