.accordeon {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: $white;
    
    @include tablet() {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.accordeon__item {
    margin-bottom: rem(30px);
}

.accordeon__item-title {
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: $white;
    position: relative;
    transition-duration: 0.3s;
    cursor: pointer;
}

.accordeon__item-content {
    height: 0px;
    display: flex;
    overflow: hidden;
    transition-duration: 0.5s;
    
    @include tablet() {
        flex-direction: column;
        align-items: center;
    }
}

.accordeon_ava-wrapper {
    height: rem(100px);
    width: rem(100px);
    border-radius: 50%;
    overflow: hidden;
}

.accordeon__ava {
    height: 100%;
    width: 100%;
}

.accordeon__item-text {
    width: rem(240px);
    padding: 0 rem(20px);
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    line-height: rem(24px);
    h5 {
        font-family: 'Ubuntu-B';
        font-size: 14px;
        margin-top: 0;
        margin-bottom: rem(10px);
    }
    
    p {
        margin: 0;
    }
    
    @include tablet() {
        width: rem(340px);
    }
}

.accordeon__item-title:before {
    content: '';
    position: absolute;
    top: rem(5px);
    left: rem(-20px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $yellow;
    transition-duration: 0.5s;
}

.accordeon__item-title:hover {
    color: $yellow;
    transition-duration: 0.3s;
}

.accordeon__item--active {
    .accordeon__item-content {
        height: 100px;
        transition-duration: 0.5s;
        
        @include tablet() {
            height: 190px;
        }
    }
    .accordeon__item-title {
        color: $yellow;
    }
    .accordeon__item-title:before {
        border-top: 0px solid transparent;
        border-bottom: 8px solid $yellow;
        transition-duration: 0.5s;
    }
}
