.burger {
	width: 24px;
    height: 4px;
    background-color: $white;
    margin: 0 15px;
    border-radius: 4px;
    position: relative;
    display: none;
    
    @include tablet() {
        display: block;
    }
}

.burger:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -8px;
    width: 24px;
    height: 4px;
    background-color: $white;
    border-radius: 4px;
}

.burger:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 24px;
    height: 4px;
    background-color: $white;
    border-radius: 4px;
}