.button-submit {
	text-decoration: none;
    font-family: 'Ubuntu-Medium';
    font-size: 13px;
    color: $white;
    text-transform: uppercase;
    padding: rem(10px) rem(15px);
    background-color: $red;
    border-radius: 5px;
    transition-duration: 0.3s;
    border-style: none;
    z-index: 10;
}

.button-submit:hover {
    background-color: $yellow;
    transition-duration: 0.3s;
}