.button-info {
    display: block;
    text-decoration: none;
    color: $white;
    font-family: 'Ubuntu-Medium';
    font-size: rem(13px);
    line-height: rem(30px);
    text-transform: uppercase;
    background-color: $grey;
    padding: rem(3px) rem(15px);
    width: rem(80px);
    max-width: rem(110px);
    border-radius: 4px;
    transition-duration: 0.3s;
}

.button-info:hover {
    background-color: $black;
    color: grey;
    transition-duration: 0.3s;
}