.features {
    height: 100%;
    width: 100vw;
    min-height: rem(620px);
    min-height: 650px;
    background-image: url(../img/background/features-bg.png);
    @include bg();
    border: 1px solid transparent;
    display: flex;
    
    
}

.features__wrapper {
    margin: auto;
    
    @include phone() {
        margin-top: 20px;
    }
}

.features__title {
    font-family: 'Gagalin-Regular';
    font-weight: 300;
    font-size: rem(72px);
    color: $grey;
    text-align: center;
    margin-top: 0;
    margin-bottom: rem(52px);
}

.features__items-wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    @include phone() {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.features__item-contetnt {
    @include phone() {
        text-align: left;
        box-sizing: border-box;
        padding-left: 25px;
    }
}

.features__item {
    list-style-type: none;
    width: rem(300px);
    text-align: center;
    
    @include phone() {
        display: flex;
        width: 90%;
        margin-bottom: 15px;
    }
}

.features__item-img {
    width: rem(98px);
    height: rem(88px);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: rem(25px);
}

.features__item-img--meat {
    width: rem(98px);
    height: rem(88px);
    fill: $red; 
}

.features__item-img--hand {
    width: rem(98px);
    height: rem(88px);
    fill: $yellow;
}

.features__item-img--natural {
    width: rem(98px);
    height: rem(88px);
    fill: $green;
}

.features__item-title {
    font-family: 'Lifehack-Medium';
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(15px);
}

.features__item-text {
    font-family: 'Ubuntu-Light';
    font-weight: 100;
    font-size: rem(14px);
    line-height: rem(24px);
}
