.footer {
    background-image: url(../img/background/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
}

.footer__content-wrapper {
    display: flex;
}

.footer__left-side-content, .footer__right-side-content {
    width: 50%;
}

.footer__left-side-text {
    font-family: 'Ubuntu-Light';
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.footer__left-side-link {
    text-decoration: none;
    font-family: 'Ubuntu-B';
    font-weight: 500;
    font-size: 14px;
    color: #e45028;
}