.map {
	height: 100%;
    width: 100vw;
    min-height: rem(620px);
    display: flex;
    flex-direction: column;
    
    
}

.map__section {
    flex: 1;
    background-image: url(../img/background/map-bg.png);
    @include bg();
}