.map {
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/background/map-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
