.menu {
    height: 100vh;
    width: 100vw;
    min-height: rem(620px);
    background-image: url(../img/background/menu-bg.png);
    @include bg();
    color: $white;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
    
}

.menu__title {
    font-family: 'Gagalin-Regular';
    font-weight: 300;
    font-size: rem(72px);
    position: absolute;
    top: rem(40px);
    left: rem(20px);
    z-index: 1;
    
}
