.nav-panel__items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    min-width: rem(518px);
}

.nav-panel__item {
    color: $white;
    border-bottom: 2px solid transparent;
    transition-duration: 1s;
}

.nav-panel__item:first-child {
    list-style-type: none;
}

.nav-panel__item-link {
    text-decoration: none;
    font-family: 'Ubuntu-Medium';
    font-size: 13px;
    color: $white;
    text-transform: uppercase;
}

.nav-panel__item:hover {
    border-bottom: 2px solid $white;
    transition-duration: 1s;
}

.nav-panel {
    @include tablet() {
        display: none;
    }
}