.order {
    height: 100vh;
    width: 100vw;
    min-height: rem(620px);
    background-image: url(../img/background/order-bg.png);
    @include bg();
    display: flex;
    
    
} 

.order__wrapper {
    margin: auto;
}

.order__title {
    font-family: 'Gagalin-Regular';
    font-weight: 300;
    font-size: rem(71px);
    text-align: center;
    color: $yellow;
    margin: 0;
    margin-bottom: rem(60px);
    
    @include phone() {
        margin-bottom: 0.75rem;
    }
}