.pagination {
	position: fixed;
    right: 45px;
    top: 71px;
    z-index: 25;
}

.pagination__item {
    color: #fff;
    position: relative;
    margin: 4px 0 ;
}

.pagination__item-hover {
    position: absolute;
	transition-duration: 0.5s;
    width: 0px;
    height: 0px;
    border: 0px solid #fff;
    border-radius: 50%;
    top: 9px;
    left: -14px;
}

.pagination__item-active {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 0;
    left: -23px;
}



.pagination__item:hover .pagination__item-hover{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 0;
    left: -23px;
    transition-duration: 0.5s;
} 