.reviews {
    height: 100vh;
    min-height: rem(620px);
}

.reviews__comment {
    opacity: 0;
    height: 50%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    color: $white;
    padding: rem(50px) rem(20px);
    transition-duration: 0.7s;
    
    @include tablet() {
        padding: rem(0px) rem(28px);
        padding-top: rem(15px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    @include phone() {
        top: 8px;
    }
}

.reviews__comment-title {
    font-family: 'Gagalin-Regular';
    font-weight: 100;
    font-size: 14px;
    margin-top: 0;
    
    @include phone() {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.reviews__comment-text {
    font-family: 'Ubuntu-Light';
    font-weight: 100;
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(15px);
    
    @include phone() {
        display: none;
    }
}

.reviews__items-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    list-style-type: none;
    width: 25%;
    height: 50vh;
    position: relative;
    
    @include tablet() {
        width: 50%;
        height: 25vh;
    }
}

.reviews__item-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.8s;
}

.reviews__item-ava1 {
    background-image: url(../img/content/photo1.png);
}

.reviews__item-ava2 {
    background-image: url(../img/content/photo2.png);
}

.reviews__item-ava3 {
    background-image: url(../img/content/photo3.png);
}

.reviews__item-ava4 {
    background-image: url(../img/content/photo4.png);
}

.reviews__item-ava5 {
    background-image: url(../img/content/photo5.png);
}

.reviews__item-ava6 {
    background-image: url(../img/content/photo6.png);
}

.reviews__item-ava7 {
    background-image: url(../img/content/photo7.png);
}

.reviews__item-ava8 {
    background-image: url(../img/content/photo8.png);
}

.reviews__item:hover .reviews__comment {
    opacity: 1;
    transition-duration: 1s;
}

.reviews__item:hover  .reviews__item-img{
	filter: grayscale(1) brightness(0.5);
    transition-duration: 1s;
}