.social {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    @include phone() {
        justify-content: center;
    }
}

.social__link-wrapper {
    width: rem(22px);
    height: rem(22px);
    margin-left: rem(18px);
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
}

.social__link--vk {
    fill: #5c5c5c;
    width: rem(22px);
    height: rem(22px);
    
    &:hover {
        fill: $white;
    }
}

.social__link--fb {
    fill: #5c5c5c;
    width: rem(22px);
    height: rem(22px);
    
    &:hover {
        fill: $white;
    }
}

.social__link--inst {
    fill: #5c5c5c;
    width: rem(22px);
    height: rem(22px);
    
    &:hover {
        fill: $white;
    }
}

.social__link--tw {
    fill: #5c5c5c;
    width: rem(22px);
    height: rem(22px);
    
    &:hover {
        fill: $white;
    }
}
